  /*defaults*/
body{
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #000000;
}
a{
  text-decoration: none;
  font-family: 'Monoton', cursive;
  color: #f90000;
}
header{
  background-color: #aacc88;
  border-bottom: 2px solid black;
}
/*special*/
.head{
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
.head img{
  height: 20pt;
}
.head a{
  font-size: 20pt;
  margin-right: 20px;
}
.head a:hover{
  color: black;
}
/*Tabs main*/
.tabs{
  position: relative;
}
.tabs input{
  display: none;
}
.tabs input:checked+label{
  width: 5%;
  color: black;
  background-color: white;
  border-right: none
  font-size: 14pt;
}
.tab-title{
  background-color: #aacc88;
  width: 5%;
  cursor: pointer;
  display: block;
  margin: 0;
  padding: 20px 0;
  text-align: center;
  color: #f90000;
  font-family: 'Staatliches';
  font-size: 14pt;
  border-bottom: 2px solid black;
  border-right: 2px solid black;
  box-shadow: 0 0 5px black;
}
.tab-title:hover{
  color: black;
}
input[id="tab1"]:checked ~ .content .tab1,
input[id="tab2"]:checked ~ .content .tab2,
input[id="tab3"]:checked ~ .content .tab3,
input[id="tab4"]:checked ~ .content .tab4,
input[id="tab5"]:checked ~ .content .tab5,
input[id="tab6"]:checked ~ .content .tab6{
  display: block;
}
.content{
  position: absolute;
  width: auto;
  top: 0;
  left: 5%;
}
.content section{
  width: auto;
  background-color: white;
  padding: 10px;
  display: none;
  text-align: center;
}
.tab-content{
  background-color: #aacc88;
  width: 100%;
  border-radius: 7px;
  box-shadow: 0 0 5px black;
  padding: 5px;
}
section h1{
  font-family: 'Staatliches';
  color: #f90000;
  font-size: 20pt;
}
.text__red{
  color: #f90000;
  font-family: 'Staatliches';
}
.code__text{
  color: blue;
}
/*tutorial content*/
.tutor__flex{
  display: flex;
  background-color: white;
  padding: 15px;
  border-radius: 7px;
}
.tutor__flex div{
  background-color: #c8d0d2;
  border: 2px dotted red;
  padding: 5px;
}
.tutor__flex1{
  flex: 2;
}
.tutor__flex2{
  flex: 1;
}
.tutor__flex3{
  flex: 1;
}
.tutor__flex2_1{
  flex: 3;
  order: 2;
}
.tutor__flex2_2{
  flex: 1;
  order: 1;
}
.tutor__flex2_3{
  flex: 2;
  order: 3;
}
.tutor__flex__three{
  align-items: flex-start;
}
.tutor__flex__four{
  align-items: flex-end;
}
.tutor__flex__five{
  align-items: center;
}
.tutor__flex__six{
  flex-direction: column;
}
.tutor__flex__seven{
  flex-direction: row-reverse;
}
.tutor__flex__eight{
  justify-content: flex-start;
}
.tutor__flex__nine{
  justify-content: flex-end;
}
.tutor__flex__ten{
  justify-content: center;
}
.tutor__flex__11{
  justify-content: space-around;
}
.tutor__flex__12{
  justify-content: space-between;
}
.flex__child__basis{
  flex-basis: 100px;
}
/*tab1_2*/
.tab1__tut2__box1{
  background-color: grey;
  width: 500px;
  margin: 20px auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.tab1__tut2__box2{
  width: 500px;
  margin: 20px auto;
  padding: 50px;
  border: solid blue 10px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.tab1__tut3__box1{
  position: relative;
  border: 2px dotted red;
  background-color: white;
}
.tab1__tut3__box2{
  position: relative;
  top: 4px;
  left: 20px;
  background-color: white;
  width: 500px;
  border: 2px dotted red;
}
.tab1__tut3__box3{
  position: relative;
    width: 600px;
    height: 400px;
    border: 2px dotted red;
}
.tab1__tut3__box4{
  position: absolute;
    top: 120px;
    right: 0;
    width: 300px;
    height: 200px;
    border: 2px dotted red;
}
.tab1__tut4__img{
  float: right;
  clear: left;
}
.tab1_tut4__box1{
  float: left;
  border: 2px dotted red;
}
.tab1_tut4__box2{
  clear: left;
  border: 2px dotted red;
}
/*Before After tab*/
.tab3__content{
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.tab3__content img{
  width:500px;
  margin: 0 auto;
}
.tab3__content__tut1{
  background-color: #aacc88;
  margin-bottom: 10px;
}
.tab3__content__tut1 h1::before{
  content:"text before h1";
  color: black;
}
.tab3__content__tut1 h1::after{
  content:"text after h1";
  color: black;
}
.tab3__content__tut2{
  background-color: #aacc88;
  margin-bottom: 10px;
}
.tab3__content__tut2 blockquote::before{
  content: open-quote;
}
.tab3__content__tut2 blockquote::after{
  content: close-quote;
}
.tab3__content__tut3{
  background-color: #aacc88;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.tab3__content__tut3 pre:before{
  content: '';
  background-image: url(../images/logo100x100.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50px 50px;
  display: block;
  width: 50px;
  height: 50px;
  align-text: center;
  border-radius: 100%;
}
.tab3__content__tut4__tut h1{
  text-transform: uppercase;
  text-align: center;
  font-size: 30px;
  margin-top: 0;
  position: absolute;
  background-color: #aacc88;
  padding: 0 5px;
}
.tab3__content__tut4{
  background-color: #aacc88;
  margin-bottom: 10px;
  height: 100px;
}
.tab3__content__tut4__tut{
  position: relative;
  display: flex;
  justify-content: center;
}
.tab3__content__tut4__tut p{
  margin-top: 60px;
}
.tab3__content__tut4__tut::before{
  content: '';
  display: block;
  width: 50%;
  height: 4px;
  background-color: #000;
  position: absolute;
  top: 17px;
}
/*large screens styles*/
@media (min-width: 1200px) {}
