/*defaults*/
body{
  width: 100%;
  margin: 0;
  padding: 0;
  /*background-color: #000000;*/
}
a{
  text-decoration: none;
  font-family: 'Monoton', cursive;
  color: white;
}
header{
  background-color: blue;
  border-bottom: 2px solid black;
}
/*special*/
.head{
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
.head img{
  height: 20pt;
}
.head a{
  font-size: 20pt;
}
.head a:hover{
  color: black;
}
/*JS tabs*/
#tabs{
  display: grid;
  grid-template-columns: repeat(2, 6% auto);
}
.tab {
    display: block; /* выстраиваем вкладки в один ряд */
    padding: 5px 10px;
    cursor: pointer;
    border-bottom: 1px solid blue;
    box-shadow: 0 0 5px blue;
}
.whiteborder {
    border-right: none;
    background-color: blue;
    color: white;
    font-weight: bold;
}
.tabContent {
    width: 100%;
    background-color: blue;
    padding: 10px;
}
.hide {
    display: none;
}
.show {
    display: block;
}
/*Content tab1*/
.one{
  background-color: white;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  display: block;
  text-align: left;
}
.important{
  color: blue;
  font-weight: 600;
  margin-left: 20px;
}
.one textarea{
  display: block;
  margin: 0 auto;
}
.formtut{
  padding: 10px;
  border-radius: 5px;
  background-color: grey;
  text-align: center;
}
